html{
  height: 100%;
}
body{
  margin: 0px;
  font-family:'Open Sans';
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h2{
  text-align: center;
}
footer{
  background-color: #112719;
  height: fit-content;
  width: 100%;
  margin-top: auto;
}
header{
  height: fit-content;
  background-color: #112719;
  border-radius: 0px 0px 85px 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-around;
  background-image: url('./assets/header_background.jpg');
  background-position: top;
  background-size: cover;
}

.nav-section{
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: fit-content;
}
.logo{
  height: 100px;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}
.navbar{
  width: fit-content;
  height: fit-content;
  background-color: rgb(225, 225, 225);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
}
.navbar a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display:block;
  text-align: center;
  border-radius: 25px;
  transition-duration: .5s;
}
.navbar a:hover{
  background-color: white;
}

.active-page{
  background-color: white;
}
.card{
  color: white;
  margin: 20px;
  width: 75%;
}
header .left{
  text-align: center;
  font-size: xx-large;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .right{
  width: 75%
}
.header-container{
  grid-column: span 2;
}
.container.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  color: white;
}
.social-logo{
  stroke: white;
}
.bottom-left ul{
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}
.bottom-left li{
  margin: 0 10px 0px 10px;
}
.bottom-left svg{
  color: white;
  transition-duration: .5s;
}
.bottom-left svg:hover{
  transform: scale(1.1);
}
/* *********************************** */
/* Testimonial slideshow */
.slideshow-container{
  max-width: 80%;
  height: 200px;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin-top: 30px;
}
/* hide slides by default */
.slides{
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-column: span 3;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
#book-now{
  height: 50px;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 25px;
  background-color: #d3ae34;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 50px;
  margin-right: 20px;
  transition-duration: .5s;
}

#book-now:hover{
  background-color: white;
  border-width: 2px;
  border-color: #d3ae34;
  transform: scale(1.1);
}