html{
  height: 100%;
}
body{
  margin: 0px;
  font-family:'Open Sans';
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main{

}

h2{
  text-align: center;
}
footer{
  background-color: #112719;
  height: fit-content;
  width: 100%;
  margin-top: auto;
}
.header{
  height: fit-content;
  background-color: #112719;
  border-radius: 0px 0px 85px 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-around;
  background-image: url('./assets/header_background.jpg');
  background-position: top;
  background-size: cover;
}

.nav-section{
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: fit-content;
}
.logo{
  height: 100px;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}
.navbar{
  width: fit-content;
  height: fit-content;
  background-color: rgb(225, 225, 225);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
}
.navbar a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display:block;
  text-align: center;
  border-radius: 25px;
  margin-left: -10px;
}
.navbar a:hover{
  background-color: white;
}

.active{
  background-color: white;
}
.card{
  color: white;
  margin: 20px;
  width: 75%;
}
.header .left{
  text-align: center;
  font-size: x-large;
  margin-left: auto;
  
}
.header .right{
  width: 75%
}
.container.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  color: white;
}
.social-logo{
  stroke: white;
}
.bottom-left ul{
  list-style-type: none;
}
.bottom-left a{
  color: white;
}

#book-now{
  height: 50px;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 25px;
  background-color: #d3ae34;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 50px;
  margin-right: 50px;
}

#book-now:hover{
  background-color: white;
  border-width: 2px;
  border-color: #d3ae34;
}